*{
	box-sizing:"border-box";
}

.container {
	width : 350px;
	border-radius: 5px;
	border-color :#999999;
	padding:20px;
	background color: #FFFFFF;
}
.tombol {
   background: #ff3e3e;
}

.hasil {
   background: #8A2BE2;
}